<!doctype html>
<html lang="ko">
<head>
   <%- include('../partials/head.ejs') -%>
</head>
<body>

   <video width="100%" id="videoclip" controls autoplay>
      <source src="/videoclips/<%=playVideoName%>" type="video/mp4">
         Video 요소를 지원하지 않는 브라우저입니다
   </video>

</body>
</html>