<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>TV사업부 소통공간</title>

   <link rel="stylesheet" href="/css/bootstrap.css">
   <link rel="stylesheet" href="/css/auth.css">

</head>

<body>

   <div class="login_form">

      <div class="left">
         <div>
            <img src="/img/LG_Display_logo.png" height="50" class="mb-2" alt="LGD logo">
            <h2 class="my-4">TV사업부 소통공간</h2>
            <p>
               LG디스플레이 TV사업부 소통공간에 오신 것을 환영합니다. TV사업부의 보다 좋은 조직문화를 만들기
               위한 목적으로 구성원들 간의 소통을 원활히 하기 위해 만들어진 사이트입니다. 사업부 내외에 발생한
               많은 소식을 공유하고 서로의 생각과 의견을 나눌 수 있는 공간으로 활용될 수 있기를 희망합니다.
            </p>
         </div>
      </div>

      <div class="right my-5">
         <h2 class="mb-3">관리자 로그인</h2>
         <form action="" method="POST">
            <div class="input_container">
               <div class="form_group mt-3">
                  <input type="text" name="email" placeholder="아이디">
                  <span class="icon">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-square" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path
                           d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                     </svg>
                  </span>
               </div>

               <div class="form_group">
                  <input type="password" name="coNumber" placeholder="사 번">
                  <span class="icon">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-hash" viewBox="0 0 16 16">
                        <path
                           d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z" />
                     </svg>
                  </span>
               </div>

               <div class="form_group">
                  <input type="password" name="password" placeholder="비밀번호">
                  <span class="icon">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-key" viewBox="0 0 16 16">
                        <path
                           d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                     </svg>
                  </span>
               </div>
            </div>

            <button type="submit" class="btn mb-3" onclick="location.href='/adminLogin'">로그인</button>
         </form>

         <a class="btn" href='/'>참여하기 Page로 이동</a>

         <div class="form_bottom my-3">
            <p>superTV playGround 관리자들만 참여 할 수 있습니다.</p>
         </div>
      </div>

   </div>

</body>

</html>