<!-- <form class="mb-4" method="POST" onsubmit="return saveComment(this);"> -->

<!-- <button type="submit" class="btn btn-primary p-2 my-2" onclick="location.href='/main/saveComment'">저장하기</button> -->
<input type="submit" class="btn btn-primary p-2 my-2" value="저장하기" onclick="location.href='/main/saveComment'" /> 
<!-- <button type="submit" class="btn btn-primary p-2 my-2">저장하기</button> -->