@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   font-family: 'Roboto', sans-serif;
}

.login_form {
   display: flex;
   max-width: 900px;
   width: 100%;
   box-shadow: 0 1px 6px #0001, 0 2px 10px #0002;
   border-radius: 0.2rem;
}

.login_form .form_bottom {
   margin-top: 25px;
   font-size: 14px;
}

.login_form .form_bottom a {
   text-decoration: none;
   color: red;
   font-weight: bold;
}

.login_form .left {
   display: flex;
   align-items: center;
   background-size: cover;
   background-position: center;
   background-image: linear-gradient(135deg, #fff, gray);
   background-blend-mode: darken;
   color: #000;
   font-size: 16px;
}

.login_form .left {
   line-height: 1.5rem;
}

.login_form .left,
.login_form .right {
   width: 100%;
   padding: 90px 60px;
}

.login_form .right .form_group {
   position: relative;
   color: #aaa;
}

.login_form .right .form_group input {
   width: 100%;
   padding: 10px 30px 10px 0;
   border: none;
   border-bottom: 1px solid #ccc;
   margin-bottom: 15px;
   outline: none;
   font-size: 15px;
}

.login_form .right .form_group input:focus {
   border-color: #000;
   font-size: 15px;
}

.login_form .right .form_group span.icon {
   position: absolute;
   right: 10px;
   bottom: 22px;
}

::placeholder {
   color: #aaa;
}

.login_form .right button {
   background-image: linear-gradient(135deg, #fff, gray);
   border: none;
   padding: 10px 18px;

   font-size: 18px;
   margin-top: 15px;
   border-radius: 4px;
   box-shadow: 0 1px 8px #0005;
   outline: none;
   cursor: pointer;
   /* transition: 0.3s ease; */
   /* transition: 0.3s ease-in-out; */
}

.login_form .right button:hover {
   background-image: linear-gradient(135deg, red, #000);
   box-shadow: 0 3px 15px #0005;
   color: #fff;
}

.login_form .right button:active {
   /* transform: scale(0.9); */
}

@media all and (max-width: 850px) {
   .login_form {
      flex-wrap: wrap;
   }

   .login_form .left {
      order: 1;
      padding: 90px 20px;
   }

   .login_form .right {
      order: 2;
      padding: 40px 20px;
   }


}