
   <div class="main-container">
      <div class="title-container">
         <h2>Super BU Playground User Information</h2>
         <a href="/main">To Main</a>
      </div>
      <table>
         <th class="NAME">이름</th>
         <th class="ID">아이디</th>
         <th class="PW">패스워드</th>
         <th class="ADMIN">ADMIN</th>
         <th class="CRUD">CRUD</th>
