      <div class="footer">
         <h1>OLED, It Shines Itself</h1>
         <div class="ace">
            <div class="ace-theme"><div><img src="img/ico_ace1.png"><h2>Accurate</h2></div></div>
            <div class="ace-theme"><div><img src="img/ico_ace2.png"><h2>Comfortable</h2></div></div>
            <div class="ace-theme"><div><img src="img/ico_ace3.png"><h2>Eco-frendly</h2></div></div>
         </div>
      </div>

   </div>
