   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />

   <title>Super BU !! Playground</title>

   <link rel="shortcut icon" type="image/x-icon" href="/img/sp-favicon.png">
   <link rel="stylesheet" href="/css/welcome-style.css">
