
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<title>Super BU !! Playground</title>

<script defer src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<link rel="shortcut icon" type="image/x-icon" href="/img/sp-favicon.png">
<link rel="stylesheet" href="/css/nav-style.css">
<link rel="stylesheet" href="/css/main-style.css">

