
<a name="Main-page"></a>
<div class="main-page">

   <div class="header">
      <div class="logo"><a href="/main"><h3>SUPER TV !!</h3><h1>PLAYGROUN<span>:D</span></h1></a></div>
      <div class="log-out"><a href="/logout"><%= currentUser %>  : 로그 아웃</a></div>

   </div>

   <div class="menu-container">
      <div class="menu-card">
         <a href="/successHope">
            <div class="card-text"><h2>성공 희망</h2></div>
            <div class="devider"></div>
            <div class="card-subtext"><p>영상 게시판</p></div>
         </a>
      </div>
      <div class="menu-card">
         <a href="/articles">
            <div class="card-text"><h2>PLAY</h2></div>
            <div class="devider"></div>
            <div class="card-subtext"><p>구성원 게시판</p></div>
         </a>
      </div>
      <div class="menu-card">
         <a href="">
            <div class="card-text"><h2>PARTY</h2></div>
            <div class="devider"></div>
            <div class="card-subtext"><p>Event 게시판</p></div>
         </a>
      </div>
      <div class="menu-card">
         <a href="">
            <div class="card-text"><h2>SAY YO!</h2></div>         
            <div class="devider"></div>
            <div class="card-subtext"><p>청원 게시판</p></div>
         </a>
      </div>
   </div>