<!doctype html>
<html lang="ko">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
   <meta name="generator" content="Hugo 0.84.0">
   <title>superTV-playground</title>

   <!-- CSS -->
   <link rel="stylesheet" href="/css/bootstrap.css">
   <!-- <style> 
      * {
         border: 1px solid red;
      }
   </style> -->
   
   <!-- JS -->
   <script src="/js/bootstrap.bundle.js"></script>
   <script src="/js/jquery-3.6.0.js"></script>
   <!-- <script src="/ckeditor/ckeditor.js"></script> -->

</head>

<body>

   <div class="container my-2">
      <nav class="navbar navbar-expand-lg navbar-light">
         <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center justify-content-center" href="/main">
               <img height="30" class="mb-1" src="/img/LG_Display_logo.png" alt="LGD logo">
               <span class="px-2">TV사업부</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
               aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
               <ul class="navbar-nav px-2 me-auto mb-2 mb-lg-0">
                  <li class="nav-item px-2">
                     <a class="nav-link text-decoration-none text-dark" href="/main/articleList">성공희망</a>
                  </li>
                  <li class="nav-item px-2">
                     <a class="nav-link text-decoration-none text-dark" href="/main/hopeImage">희망영상</a>
                  </li>
                  <li class="nav-item px-2">
                     <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown"
                        aria-expanded="false">Dropdown</a>
                     <ul class="dropdown-menu" aria-labelledby="dropdown09">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                     </ul>
                  </li>
               </ul>
               <div class="text-end my-1">
                  <a href="#"><button type="button" class=" btn btn-light mx-3"
                        onclick="location.href='/'">로그아웃</button></a>
               </div>
            </div>
         </div>
      </nav>
   </div>