<%- include('header') -%>

   <div class="container py-md-2 my-2"></div>

   <div class="container p-0">
      <div class="title">
         <h2>TV사업 성공희망</h2>
         <p class="subtitle">Upload Articles to the <strong>Server</strong></p>
      </div>
   </div>

   <!-- <form action="/articleList" class="container p-0 " method="POST" onsubmit="return saveArticle(this);"> -->
   <form class="container p-0 " method="POST">
      <div class="d-flex align-items-center justify-content-lg-between">
         <div class="col-md-10">
            <input type="text" class="form-control my-2" name="title" value="<%= article.title %>">
         </div>
         <div class="col-md-2">
            <!-- <input type="submit" value="저장하기" class="btn btn-light px-2 m-2"
               onclick="article.value = CKEDITOR.instances.article.getData(); " /> -->
            <input type="submit" value="저장하기" class="btn btn-light px-2 m-2"
               onclick="location.href='/updateArticle/<%= article._id %>'" />
         </div>
      </div>
      <div>
         <textarea name="content" class="form-control" rows="10" cols="80"><%= article.content %></textarea>
      </div>
   </form>

   <!-- <script>
      CKEDITOR.replace(' article', { contentsCss: "body { font-size: 16px; }" }); function saveArticle(form) { $.ajax({
            url: "/saveArticle" , method: "POST" , data: { title: form.title.value, content: form.article.value },
            success: function (response) { alert(response); } }); return false; } </script> -->

   </body>

   </html>