<!DOCTYPE html>
<html lang="ko">

<head>

   <%- include('./partials/welcome-header-part.ejs'); %>

</head>

<body>

   <%- include('./partials/welcome-topper-part.ejs'); %>

      <div class="hero">
         <video id="hero-video" src="img/EvolutionThroughGreatDetail.mp4" muted loop autoplay onclick="location.href = '/login'; "></video>
      </div>
      
      <%- include('./partials/welcome-footer-part.ejs'); %>

</body>
</html>