<!DOCTYPE html>
<html lang="ko">

<head>
   <%- include('../partials/main-head-part.ejs'); %>
</head>

<body>
   <%- include('../partials/main-body-part.ejs'); %>

      <div id="slider">
         <div class="slider-inner">
            <img src="/img/paju-view1.jpg" alt="pajuView">
            <img src="/img/paju-view2.jpg" alt="pajuView">
            <img src="/img/paju-view3.jpg" alt="pajuView">
            <img src="/img/paju-view4.jpg" alt="pajuView">
            <img src="/img/paju-view1.jpg" alt="pajuView">
         </div>
      </div>

      <div class="spacer"></div>

      <div class="info-container">
         <a href="https://kr.oledspace.com">
            <div class="info-title">
               <div><img src="/img/logoOLEDSpaceW.png" alt="logoOLEDSpaceW"><h2>Space</h2></div>
            </div>
         </a>
         <hr>
         <p>OLED의 모든 것! OLED Space와 다양한 SNS에서 확인하세요.</p>
         <div class="info-col-container">
            <a href="https://kr.oledspace.com">
               <div class="info-col">
                  <div class="info-sns">                  
                     <img src="/img/icon-oledspace.jpg" alt="logoYouTube">
                     <h2>OLED Space</h2>
                  </div>
               </div>
            </a>
            <a href="https://www.youtube.com/channel/UCZFS9fj03V80Cr7qquAGXAQ">
               <div class="info-col">
                  <div class="info-sns">   
                     <img src="/img/icon-youtube.png" alt="logoYouTube">
                     <h2>YouTube</h2class=>
                  </div>
               </div>
            </a>
            <a href="https://www.instagram.com/oled_space/?hl=ko">
               <div class="info-col">
                  <div class="info-sns">   
                     <img src="/img/icon-instagram.png" alt="logoInstagram">
                     <h2>Instagram</h2>
                  </div>
               </div>
            </a>
            <a href="https://www.facebook.com/OLEDSPACE">
               <div class="info-col">
                  <div class="info-sns">   
                     <img src="/img/icon-facebook.png" alt="logoFacebook">
                     <h2>Facebook</h2>
                  </div>
               </div>
            </a>
         </div>
      </div>

      <div class="spacer"></div>

      <div class="info-container">
         <div class="info-title">
            <h2>제품/Platform</h2>
         </div>
         <hr>
         <p>TV사업부의 제품/Platform을 소개합니다. 클릭하면 각 사이트로 이동합니다.</p>
         <div class="info-card-container">

            <div class="info-card">    
               <a href="#">
                  <div class="info-card-title"><h2 style="margin-left: 2vw;">OLED Gaming</h2></div>  
                  <div class="info-card-description"><p><strong>세상에 없던 '초실감' 게이밍 OLED!</strong><br><br>
                     더 깊은 몰입감과 현실감으로 게임, 그 이상의 경험을 선사합니다! 게임으로 소통하고, 겡팀이 일상이 되슨 세상,
                     그리고 그에 맞는 새로운 게이밍 Display ! <br>게이밍 OLED를 만나보십시요.</p>
                  </div>                  
               </a>
            </div>

            <div class="info-card">
               <a  href="https://parasol.business">
                  <div class="info-card-title"><img src="/img/logoParasol.png" alt="logoParasol"></div>
                  <div class="info-card-description">
                     <p><strong>투명 OLED로 공간을 더 가치 있게!</strong><br><br>
                        투명 OLED 토털솔루션을 편리하게 거래할 수 있는 중개 플랫폼입니다. 다양하고 풍부한 포트폴리오,
                        믿을 수 있는 솔루션 파트너, 쉽고 빠른 견적의뢰.</p>
                  </div>
               </a>
            </div>

            <div class="info-card">
               <a href="/watch?v=videoclips/2021/2109_plate.mp4">
                  <div class="info-card-title"><img src="/img/logoPlate.png" alt="logoPlate"><h2>Plate</h2></div>
                  <div class="info-card-description">
                     <p class="info-card-description"><strong>New Lifestyle Display Category</strong><br><br>
                        최상의 화질과 얇고 가벼운 OLED 특장점을 기반으로 언제 어디서나, 다양한 용도의 활용성을 제공하는
                        새로운 카테고리 제품을 지향합니다.</p>
                  </div>
               </a>
            </div>

            <div class="info-card">
               <a href="#">
                  <div class="info-card-title"><img src="/img/logoAiBarrot.png" alt="logoAiBarrot"><h2>Ai-Barrot</h2></div>
                  <div class="info-card-description">
                     <p class="info-card-description"><strong>전문용어 회의 번역기: 인공지능 Barrot!</strong><br><br>
                        AI가 자연스럽게 통역하여, 와이드 IPS 디스플레이에 실시간으로 보여주는 AI Barrot.
                        영국식 영어도, 접하기 힘든 아랍어도, 사투리 억양도, AI Barrot은 전혀 문제없이 당신의 언어로 보여드립니다.
                        자동 회의록은 덤...</p>
                  </div>
               </a>
            </div>

         </div>
      </div>

      <!-- <div class="spacer"></div> -->

      <div class="copyright">
         <p>Copyright &copy; 2022 YStory52. All Rights Reserved.</p>
      </div>
      
      <div class="spacer"></div>
      <div class="spacer"></div>

   </div>

</body>
</html>
