<!DOCTYPE html>
<html lang="ko">

<head>
   <%- include('../partials/main-head-part.ejs'); %>
</head>

<body>
   <%- include('../partials/main-body-part.ejs'); %>
   
		<div class="spacer"></div>

      <div class="info-container">
         <div class="info-title">
            <h2>2021 년</h2>
         </div>
         <hr>
		</div>

		<div class="spacer"></div>

		<div class="video-container">
			<div class="video-card">
				<div class="video-clip">
					<a href="/watch?v=videoclips/2021/TV_미국.mp4"><img src="/videoclips/2021/TV_미국_Moment.jpg"></a>
				</div>
				<div class="video-subtext">
					<p>미국 매장 현황</p>
				</div>
			</div>
			<div class="video-card">
				<div class="video-clip">
					<a href="/watch?v=videoclips/2021/TV_유럽.mp4"><img src="/videoclips/2021/TV_유럽_Moment.jpg"></a>
				</div>
				<div class="video-subtext">
					<p>유럽 매장 현황</p>
				</div>
			</div>
			<div class="video-card">
				<div class="video-clip">
					<a href="/watch?v=videoclips/2021/TV_일본.mp4"><img src="/videoclips/2021/TV_일본_Moment.jpg"></a>
				</div>
				<div class="video-subtext">
					<p>일본 매장 현황</p>
				</div>
			</div>
			<div class="video-card">
				<div class="video-clip">
					<a href="/watch?v=videoclips/2021/TV_중국.mp4"><img src="/videoclips/2021/TV_중국_Moment.jpg"></a>
				</div>
				<div class="video-subtext">
					<p>중국 매장 현황</p>
				</div>
			</div>
		</div>
		<div class="video-container">
			<div class="video-card">
				<div class="video-clip">
					<a href="/watch?v=videoclips/2021/Intro.mp4"><img src="/videoclips/2021/Intro_Moment.jpg"></a>
				</div>
				<div class="video-subtext">
					<p>2021 CES Virtual Showroom</p>
				</div>
			</div>
			<div class="video-card">
				<div class="video-clip">
					<a href="/watch?v=videoclips/2021/Why_OLED_Natural_Reality.mp4"><img src="/videoclips/2021/Why_OLED_Natural_Reality_Moment.jpg"></a>
				</div>
				<div class="video-subtext">
					<p>OLED Natural Reality</p>
				</div>
			</div>
			<div class="video-card">
				<div class="video-clip">
					<a href="/watch?v=videoclips/2021/New_Life_Style.mp4"><img src="/videoclips/2021/New_Life_Style_Moment.jpg"></a>
				</div>
				<div class="video-subtext">
					<p>2021 Concept제품</p>
				</div>
			</div>
			<div class="video-card">
				<div class="video-clip">
					<a href="/watch?v=videoclips/2021/2109_Concept_TV.mp4"><img src="/videoclips/2021/2109_Concept_TV_Moment.jpg"></a>
				</div>
				<div class="video-subtext">
					<p>2021 Concept제품</p>
				</div>
			</div>
		</div>

		<div class="spacer"></div>

      <div class="info-container">
         <div class="info-title">
            <h2>2020 년</h2>
         </div>
         <hr>
		</div>

		<div class="spacer"></div>

		<div class="video-container">
			<div class="video-card">
				<div class="video-clip">
					<a href="/watch?v=videoclips/2020/OLEDConceptTV.mp4"><img src="/videoclips/2020/OLEDConceptTV_Moment.jpg"></a>
				</div>
				<div class="video-subtext">
					<p>2020 Concept제품</p>
				</div>
			</div>
		</div>

		<div class="spacer"></div>

      <div class="info-container">
         <div class="info-title">
            <h2>2019 년</h2>
         </div>
         <hr>
		</div>

		<div class="spacer"></div>

		<div class="video-container">
			<div class="video-card">
				<div class="video-clip">
					<a href="/watch?v=videoclips/2019/1566888697020.mp4"><img src="/videoclips/2019/1566888697020_Moment.jpg"></a>
				</div>
				<div class="video-subtext">
					<p>It's OLED, or OLED.</p>
				</div>
			</div>
		</div>

		<div class="spacer"></div>

      <div class="info-container">
         <div class="info-title">
            <h2>2019 년</h2>
         </div>
         <hr>
		</div>

		<div class="spacer"></div>

		<div class="video-container">
			<div class="video-card">
				<div class="video-clip">
					<a href="/watch?v=videoclips/2018/1546350406513.mp4"><img src="/videoclips/2018/1546350406513_Moment.jpg"></a>
				</div>
				<div class="video-subtext">
					<p>It's OLED, or OLED.</p>
				</div>
			</div>
		</div>

	</div>

</body>
</html>
